<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="Hautzi\SystemMailBundle\SystemMailer\MailDefinition\MailDefinitionProviderSymfony"
                 public="false">
            <argument type="service" id="twig"/>
        </service>

        <service id="Hautzi\SystemMailBundle\SystemMailer\XML\XsdValidator" public="false"/>

        <service id="Hautzi\SystemMailBundle\SystemMailer\MailDefinition\MailDefinitionParserXml" public="false">
            <argument type="service" id="Hautzi\SystemMailBundle\SystemMailer\XML\XsdValidator"/>
            <argument type="expression">service('kernel').locateResource('@HautziSystemMailBundle/Resources/email.xsd')</argument>
        </service>

        <service id="Hautzi\SystemMailBundle\SystemMailer\Mailer\SwiftMailer" public="false">
            <argument type="service" id="mailer"/>
        </service>


        <service id="Hautzi\SystemMailBundle\SystemMailer\SystemMailer">
            <argument type="service" id="Hautzi\SystemMailBundle\SystemMailer\MailDefinition\MailDefinitionProviderSymfony"/>
            <argument type="service" id="Hautzi\SystemMailBundle\SystemMailer\MailDefinition\MailDefinitionParserXml"/>
            <argument type="service" id="Hautzi\SystemMailBundle\SystemMailer\Mailer\SwiftMailer"/>
            <argument type="expression">service('request_stack').getMasterRequest().getLocale()</argument>
            <argument></argument>
        </service>

        <service id="system_mailer" alias="Hautzi\SystemMailBundle\SystemMailer\SystemMailer"/>
    </services>
</container>
