<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="hautzi_system_mail.system_mailer.mail_definition.provider_symfony"
                 class="Hautzi\SystemMailBundle\SystemMailer\MailDefinition\MailDefinitionProviderSymfony"
                 public="false">
            <argument type="service" id="kernel"/>
            <argument type="service" id="twig"/>
        </service>

        <service id="hautzi_system_mail.system_mailer.xml.xsd_validator"
                 class="Hautzi\SystemMailBundle\SystemMailer\XML\XsdValidator" public="false"/>

        <service id="hautzi_system_mail.system_mailer.mail_definition.parser_xml"
                 class="Hautzi\SystemMailBundle\SystemMailer\MailDefinition\MailDefinitionParserXml" public="false">
            <argument type="service" id="hautzi_system_mail.system_mailer.xml.xsd_validator"/>
            <argument type="expression">service('kernel').locateResource('@HautziSystemMailBundle/Resources/email.xsd')</argument>
        </service>

        <service id="hautzi_system_mail.system_mailer.mailer.swift_mailer"
                 class="Hautzi\SystemMailBundle\SystemMailer\Mailer\SwiftMailer" public="false">
            <argument type="service" id="mailer"/>
        </service>


        <service id="hautzi_system_mail.system_mailer" class="Hautzi\SystemMailBundle\SystemMailer\SystemMailer">
            <argument type="service" id="hautzi_system_mail.system_mailer.mail_definition.provider_symfony"/>
            <argument type="service" id="hautzi_system_mail.system_mailer.mail_definition.parser_xml"/>
            <argument type="service" id="hautzi_system_mail.system_mailer.mailer.swift_mailer"/>
            <argument type="expression">service('request_stack').getMasterRequest().getLocale()</argument>
            <argument></argument>
        </service>

        <service id="system_mailer" alias="hautzi_system_mail.system_mailer"/>
    </services>
</container>
